body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 1rem auto;
}
h1, h2, footer{
    text-align: center;
    -webkit-text-fill-color: olive;
    font-weight: 100;
}
h2,h1{
    text-decoration: underline;
}
footer{
    font-size: small;
}
nav{
    background-color: olivedrab;
    display: flex;
    justify-content: space-around;
    width: 400px;
}
nav a{
   text-decoration: none;
   -webkit-text-fill-color: white;
}
nav a:hover{
    border: 2px solid black;
}
.active{
    color: yellow;
}
main{
    align-self: center;
    max-width: fit-content;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
}
.card1{
    display: grid;
    border: 1px solid olivedrab;
}
.card{
    border: 1px solid olivedrab;
}
.ar1 img{
    float: right;
}
.ar2 img{
    float:left;
}
