@media screen and (min-width: 700px){
    body{
		max-width: 1000px;
		margin: 1rem auto;
	}
	.form input[type='text'],
    .form input[type='date']{
        width: 675px;
    }
    .form textarea{
        width: 695px;
    }
    .form select{
        width: 700px;
    }
    div{
        position: relative;
    }
    .form input[type='submit']{
        position: absolute;
        left: 0px; 
        width: 700px;
        padding-left: 0; 
        margin-top: 20px; 
    }
    main{
         padding-bottom: 60px; 

    }
}